
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    font-family: "Figtree", sans-serif;
    padding: 0%;
    margin: 0%;
}


/* PRINCIPAL */

/* HEADER */
header{
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: center;

    nav{
        height: 100%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            width: fit-content;

            > a{
                width: 100%;
                height: 100%;

                img{
                    width: 75px;
                }
            }
        }

        div:nth-child(2){
            display: flex;
            width: 100%;

            > button{
                display: none;
            }

            .enlaces1{
                width: 100%;
                display: flex;
                align-items: center;

                > button{
                    display: none;
                }

                > a{
                    text-decoration: none;
                    margin: 0 20px;
                    color: white;
                }
            }

            .bttH{
                display: flex;
                justify-content: end;
                width: 200px;

                .CH{
                    text-decoration: none;
                    color: white;
                    background-color: rgba(17, 148, 109, 0.75);
                    padding: 12px;
                    border-radius: 10px;
                    font-weight: 700;
                }
            }
        }
    }
}



/* MAIN */
main{
    background-image: url(../img/fondo.jpg);
    background-attachment: fixed;
}



/* SECCIÓN PRINCIPAL */
#principal{
    height: 90vh;

    > div:nth-child(1){
        position: relative;
        height: 15vh;
        background: linear-gradient(to bottom, black, transparent);
        z-index: 998;
    }

    > div:nth-child(2){

        .fondo{
            position: absolute;
            top: 10vh;
            width: 100%;
            height: 90vh;
            background-image: url(../img/primero.jpg);
            background-position: right;
            background-size: cover;
        }

        > div:nth-child(2){
            height: 20vh;
            width: 100%;
            position: absolute;
            z-index: 998;
            background: linear-gradient(transparent, black 45%, black 55%, transparent);
            bottom: -10vh;
        }

        .centro{
            width: 100%;
            position: absolute;
            z-index: 998;
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 800px;

            h1{
                margin: 0%;
                font-size: 40px;
                color: white;
            }

            #text{
                display: flex;
                justify-content: space-between;
                font-size: 13px;
                color: white;

                p{
                    margin-right: 10px;
                }
            }
        }
    }
}



/* SECCIÓN TRAILER */
#video{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    > div:nth-child(1){
        width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 300px;

        > div:nth-child(1){
            width: 40%;

            img{
                max-width: 100%;
            }

            p{
                color: white;
                margin: 0;
            }
        }

        > div:nth-child(2){
            width: 50%;

            video{
                width: 100%;
            }
        }
    }

    > div:nth-child(2){
        width: 100%;
        text-align: center;

        > div{
            display: flex;
            justify-content: center;
            align-items: center;

            button{
                height: 53px;
                background-color: transparent;
                border: 2px solid white;
                border-radius: 5px;
                padding: 15px;
                margin: 20px;

                svg{
                    fill: white;
                }
            }
        }

        > .CH{
            text-decoration: none;
            color: white;
            background-color: rgba(17, 148, 109, 0.75);
            padding: 12px;
            border-radius: 10px;
            font-weight: 700;
            display: inline-block;
            margin: 20px 0;
        }
    }
}



/* SECCIÓN CARACTERÍSTICAS */
#caract{
    height: fit-content;

    > h1{
        color: white;
        width: fit-content;
        margin-left: 15%;
        font-size: 35px;
    }

    > div:nth-child(2){
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin: 70px 0;

        > div{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            gap: 30px;

            
            .imgs{
                width: 40%;
                border: 1px solid #D2B56A;
                border-radius: 3px;

                img{
                    width: 100%;
                    height: 100%;
                }
            }

            .info1{
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                overflow-x: visible;

                h2{
                    width: fit-content;
                    margin-left: -100px;
                    background-color: #D2B56A;
                    border: 1px solid black;
                    padding: 10px 10px 10px 100px;
                    z-index: 999;
                }
                
                p{
                    color:white;
                }

                div{
                    display: flex;
                    justify-content: center;

                    img{
                        width: 30%;
                    }
                }
            }
            .info{
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                overflow-x: visible;

                h2{
                    margin-right: -100px;
                    background-color: #D2B56A;
                    border: 1px solid black;
                    padding: 10px 100px 10px 10px;
                    z-index: 999;
                }
                
                p{
                    color:white;
                }

                div{
                    display: flex;
                    justify-content: center;

                    img{
                        width: 30%;
                    }
                }
            }
        }

        > #esp{
            flex-direction: row-reverse;
        }
    }

    > div:nth-child(3){
        height: 15vh;
        background: linear-gradient(to top, black, transparent);
        z-index: 999;
    }
}



/* FOOTER */
footer{
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;

    > div{
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        >div:nth-child(1){
            width: 500px;
        }

        > div:nth-child(2){
            width: 100%;
            display: flex;
            justify-content: end;

            a{
                text-decoration: none;
                color: white;
            }

            span{
                margin: 0 5px;
            }
        }
    }
}





/* ARCOS DE ONE PIECE */

/* ARCOS */
#arcos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    > div:nth-child(1){
        width: 100%;
        height: 15vh;
        background: linear-gradient(to bottom, black, transparent);
        z-index: 998;
    }

    > div:nth-child(2){
        width: 80%;
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-items: center;
        justify-content: center;

        > img:nth-child(1){
            width: 100%;
        }

        > img:nth-child(2){
            width: 95%;
            position: relative;
            bottom: 80px;
        }
    }
}



/* LUFFY */
#luffy{
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;

    > div{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 65px;

        > div:nth-child(1){
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img{
                max-width: 100%;
            }

            h2{
                margin: 0px 0px 20px 0px;
                color: #D2B56A;
                font-size: 35px;
            }

            p{
                margin: 0%;
                color: white;
                font-size: 30px;
            }
        }

        > div:nth-child(2){
            width: 40%;
            display: flex;
            justify-content: center;
            
            img{
                object-position: center;
            }
        }
    }
}



/* SLIDER PERSONAJES */
#Pslider{
    height: auto;

    > div:nth-child(1){
        margin: auto;
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        > span{
            color: rgba(17, 148, 109, 0.5);
            font-size: 50px;
            z-index: 999;
            -webkit-text-stroke: 2px rgb(17, 148, 109);
            cursor: pointer;
        }

        #der{
            transform: rotate(180deg);
            cursor: pointer;
        }

        #PsliderE{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .mainP{
                color: white;
                text-align: center;
                width: 510px;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                > div:nth-child(1){
                    width: 500px;
                    height: 700px;
                    overflow: hidden;
                    
                    > img{
                        height: 100%;
                        width: 100%;
                    }
                }
                
                > div:nth-child(2){
                    width: 100%;
                    height: 400px;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    bottom: 100px;
                    
                    > div:nth-child(1){
                        width: 100%;

                        > img{
                            max-width: 100%;
                        }
                    }

                    > div:nth-child(2){
                        width: 100%;

                        > h1{
                            font-size: 35px;
                            margin: 0;
                        }
    
                        > p{
                            margin: 0;
                        }
                    }
                }
            }
        
            .extraP{
                width: 350px;
                
                > div:nth-child(1){
                    width: 250px;
                    height: 300px;
                    overflow: hidden;
                    
                    > img{
                        height: 100%;
                        width: 100%;
                    }
                }
                
                > div:nth-child(2){
                    display: none;
                }
            }
        }
    }

    > div:nth-child(2){
        width: 100%;
        height: 15vh;
        background: linear-gradient(to top, black, transparent);
        z-index: 999;
    }
}





/* TIENDA */

/* SELECTOR */
#selector{
    height: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    > div:nth-child(1){
        width: 100%;
        height: 15vh;
        background: linear-gradient(to bottom, black, transparent);
        z-index: 998;
    }

    h1{
        margin-top: 0%;
        color: white;
    }
    > div:nth-child(3){
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > div:nth-child(1){
            display: flex;
            justify-content: center;
            align-items: center;

            button{
                height: 53px;
                background-color: transparent;
                border: 2px solid white;
                border-radius: 5px;
                padding: 15px;
                margin: 20px;

                svg{
                    fill: white;
                }
            }
        }

        > div:nth-child(2){
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: space-evenly;
            margin: 50px 0;
            
            article{
                width: 300px;
                height: 350px;
                background-color: rgba(17, 148, 109, 0.5);
                border: 2px solid black;
                border-radius: 10px;
                
                img{
                    max-width: 100%;
                }

                h3{
                    color: white;
                    margin-bottom: 40px;
                }

                a{
                    text-decoration: none;
                    color: black;
                    background-color: rgb(17, 148, 109);
                    padding: 5px;
                    font-weight: 600;
                    border: 2px solid black;
                    border-radius: 5px;
                }
            }
        }
    }
}


/* CONTENIDO DESCARGABLE */
#descargar{
    height: fit-content;
    h1{
        color: white;
        margin-left: 15%;
        font-size: 35px;
    }

    > div:nth-child(2){
        height: 400px;
        width: 700px;
        margin: auto;
        background-color: rgba(17, 148, 109, 0.5);
        border: 2px solid black;
        border-radius: 5px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        > div:nth-child(1){
            width: 40%;
        }

        > div:nth-child(2){
            width: 40%;
            color: white;
        }
    }

    > div:nth-child(3){
        width: 100%;
        height: 15vh;
        background: linear-gradient(to top, black, transparent);
        z-index: 999;
    }
}





/* NEWS */

/* PRINCIPAL */
#news{
    height: fit-content;

    > div:nth-child(1){
        width: 100%;
        height: 15vh;
        background: linear-gradient(to bottom, black, transparent);
        z-index: 998;
    }

    > h1{
        color: white;
        font-size: 35px;
        margin-left: 10%;

    }

    > div:nth-child(3){
        width: 80%;
        margin: auto;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        > div:nth-child(1){
            height: 100%;
            width: 55%;
            
            article{
                display: flex;
                height: 600px;
                max-width: 100%;
                flex-direction: column;
                background-color: rgba(17, 148, 109, 0.5);
                border: 2px solid black;
                border-radius: 5px;

                > div:nth-child(1){
                    width: 100%;

                    img{
                        max-width: 100%;
                        border-bottom: 2px solid black;
                    }
                }

                > div:nth-child(2){
                    display: flex;
                    height: 20%;
                    flex-direction: column;
                    justify-content: space-between;

                    h3{
                        margin: 5px;
                    }
                    
                    a{
                        text-decoration: none;
                        color: black;
                        width: 99%;
                        text-align: end;
                        margin: 5px 0;
                    }
                }
            }
        }

        > div:nth-child(2){
            height: 600px;
            width: 35%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
    
            > article{
                background-color: rgba(17, 148, 109, 0.5);
                height: 25%;
                width: 100%;
                border: 2px solid black;
                border-radius: 5px;
                display: flex;

                > div:nth-child(1){
                    width: 45%;
                    overflow: hidden;

                    img{
                        max-width: 100%;
                        height: 100%;
                    }
                }
    
                > div:nth-child(2){
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
    
                    > h3{
                        margin: 5px;
                    }
    
                    > a{
                        text-decoration: none;
                        color: black;
                        width: 99%;
                        text-align: end;
                        margin: 5px 0;
                    }
                }
            }
    
            > a{
                width: fit-content;
                text-decoration: none;
                color: black;
                background-color: rgba(17, 148, 109, 0.75);
                padding: 12px;
                border: 2px solid black;
                border-radius: 10px;
                font-weight: 700;
            }
        }
    }
}



/* FORMULARIO */
#form{
    height: 300px;
    margin-top: 150px;

    > div{
        width: 100%;
        height: 100%;
        display: flex;

        > div:nth-child(1){
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: rgba(17, 148, 109, 0.75);

            h2{
                width: 90%;
                margin: 0 auto;
                font-size: 30px;
                line-height: 1;
                overflow: hidden;
            }

            form{
                display: flex;
                flex-direction: column;

                > label{
                    width: 90%;
                    margin: 10px auto 15px;
                }

                > div{
                    width: 90%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;

                    #mail{
                        width: 65%;
                        border-radius: 5px;
                        border: none;
                    }

                    #sub{
                        width: 25%;
                        background-color: rgb(17, 148, 109);
                        padding: 12px;
                        border: 2px solid black;
                        border-radius: 5px;
                        font-weight: 700;
                        font-family: "Figtree", sans-serif;
                        font-size: 20px;
                    }
                }
            }
        }

        > div:nth-child(2){
            width: 50%;
            border: 0 0 0 2px solid black;
            height: 100%;
            background-color: rgb(17, 148, 109);
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2{
                width: 90%;
                margin: 0 auto;
                font-size: 30px;
            }

            p{
                width: 90%;
                margin: 10px auto;
            }

            > div{
                width: 90%;
                display: flex;
                margin: 0 auto;
                gap: 15px;

                > a{
                    width: 35px;
                    height: 35px;
                    font-size: 16px;
                    color: black;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg{
                        fill: black;
                    }
                }
            }
        }
    }
}



/* JUEGOS */
#juegos{
    margin-top: 100px;
    height: fit-content;

    > h1{
        font-size: 35px;
        margin-left: 10%;
        color: white;
    }

    > div:nth-child(2){
        margin-bottom: 50px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        > div{
            display: flex;
            flex-direction: column;
            width: 30%;
            text-align: left;

            a{
                width: 100%;
                height: 100%;
                text-decoration: none;
            }

            img{
                width: 100%;
                height: auto;
            }

            h3{
                color: white;
                font-size: 25px;
            }
        }
    }

    > div:nth-child(3){
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        > a{
            text-decoration: none;
            color: black;
            background-color: rgba(17, 148, 109, 0.75);
            border: 2px solid black;
            padding: 12px;
            border-radius: 10px;
            font-weight: 700;
        }
    }

    >div:nth-child(4){
        width: 100%;
        height: 15vh;
        background: linear-gradient(to top, black, transparent);
        z-index: 999;
    }
}





/* EIICHIRO ODA */

/* BIOGRAFÍA */
#bio{
    height: auto;

    > div:nth-child(1){
        width: 100%;
        height: 15vh;
        background: linear-gradient(to bottom, black, transparent);
        z-index: 998;
    }

    > h1{
        margin-left: 10%;
        color: white;
        font-size: 35px;
    }

    > div:nth-child(3){
        margin: auto;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(17, 148, 109, 0.5);
        border: 2px solid black;
        border-radius: 10px;


        > div:nth-child(1){
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 50%;

            > p{
                color: white;
                font-size: 17px;
                font-weight: 500;
                width: 70%;
            }
        }

        > div:nth-child(2){
            overflow: hidden;
            width: 50%;

            > img{
                margin-top: 30px;
                height: 50%;
                width: 50%;
            }

            >img:nth-child(2){
                position: relative;
                left: 200px;
                bottom: 45px;
            }
        }
    }
}



/* LOGROS */
#logros{
    height: fit-content;

    > h1{
        margin-left: 10%;
        margin-top: 100px;
        font-size: 35px;
        color: white;
    }

    > div:nth-child(2){
        margin: auto;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        > div:nth-child(1){
            width: 50%;

            > img{
                max-width: 100%;
            }
        }

        > div:nth-child(2){
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            > img{
                max-width: 100%;
            }

            > p{
                color: white;
                font-size: 17px;
                font-weight: 500;
            }
        }
    }
}



/* ONE PIECE */
#onepiece{
    height: fit-content;
    
    > h1{
        color: white;
        font-size: 35px;
        margin-left: 10%;
        margin-top: 100px;
    }

    > div{
        margin: auto;
        width: 60%;
        height: 900px;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        background-color: rgba(17, 148, 109, 0.75);
        border: 2px solid black;
        border-radius: 10px;

        > img{
            width: 100%;
            height: 100%;
        }

        > div{
            display: flex;
            align-items: center;
            justify-content: center;

            > p{
                font-size: 17px;
                font-weight: 500;
                width: 90%;
            }
        }
    }
}



/* ESTILO */
#estilo{
    height: auto;

    > h1{
        margin-left: 10%;
        margin-top: 100px;
        font-size: 35px;
        color: white;
    }

    > div:nth-child(2){
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        > img{
            width: 30%;
            height: 800px;
        }
    }

    > div:nth-child(3){
        width: 100%;
        height: 15vh;
        background: linear-gradient(to top, black, transparent);
        z-index: 999;
    }
}




/* RESPONSIVE */
@media (max-width: 1600px) {
/* LANDING */

/* CARACTERÍSTICAS */
#caract{

    > div:nth-child(2){
        gap: 150px;

        > div{
            flex-direction: column;
            text-align: center;

            .imgs{
                width: 80%;
            }

            .info1{
                align-items: center;
                text-align: center;
                width: 80%;

                h2{
                    margin-left: 0px;
                    width: 50%;
                    padding: 10px;
                }
            }

            .info{
                align-items: center;
                text-align: center;
                width: 80%;

                h2{
                    margin-right: 0px;
                    width: 50%;
                    padding: 10px;
                }
            }
        }
        
        > #esp{
            flex-direction: column;
            text-align: center;
            gap: 50px;
        }
    } 
}



/* NOTICIAS */

/* NEWS */
/* #news{

} */





@media (max-width: 1500px){
#bio {
    > div:nth-child(3) {
        width: 60%;
    }
}
#onepiece {
    > div {
        width: 70%;
    }
}



/* FOOTER */
footer{
    height: fit-content;

    > div{
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;

        >div:nth-child(1){
            text-align: center;
        }

        > div:nth-child(2){
            display: flex;
            justify-content: center;
        }
    }
}
}





@media (max-width: 1400px){
/* SLIDER PERSONAJES */
#Pslider{
    height: auto;

    > div:nth-child(1){

        #PsliderE{
            height: fit-content;

            .mainP{
                height: fit-content;
                
                > div:nth-child(1){
                    width: 500px;
                    overflow: hidden;
                    
                    > img{
                        max-width: 100%;
                    }
                }
                
                > div:nth-child(2){
                    height: fit-content;
                    
                    > div:nth-child(1){
                        width: 100%;

                        > img{
                            max-width: 100%;
                        }
                    }
                }
            }
        
            .extraP{
                display: none;
            }
        }
    }
}



#selector{

    > div:nth-child(3){
        width: 85%;
    }
}
}





@media (max-width: 1200px){
/* HEADER */
header{

    nav{

        div:nth-child(2){
            justify-content: space-between;
            
            > button{
                display: block;
                margin: 0 20px;
                font-size: 2rem;
                background-color: transparent;
                border: none;
                color: white;
            }

            .enlaces1{
                display: flex;
                flex-flow: nowrap column;
                justify-content: space-around;
                align-items: center;
                min-height: 100vh;
                min-width: 20%;
                position: fixed;
                background-color: black;
                padding: 20px;
                top: 0%;
                right: 100%;
                z-index: 999;
                transition: left 500ms;

                > button{
                    display: block;
                    margin: 0 20px;
                    font-size: 2rem;
                    background-color: transparent;
                    border: none;
                    color: white;
                }

                > a{
                    font-size: 25px;
                    text-decoration: none;
                    color: white;
                    text-transform: uppercase;
                    font-weight: 700;
                    padding-top: 30px;
                }
            }
        }
    }
}



/* SECCIÓN TRAILER */
#video{
    gap: 100px;

    > div:nth-child(1){
        text-align: center;
        width: 80%;
        flex-direction: column;

        > div:nth-child(1){
            width: 100%;
        }

        > div:nth-child(2){
            width: 100%;
        }
    }
}




/* CARACTERÍSTICAS PRINCIPALES */
#caract{

    > div:nth-child(2){

        > div{

            .info1{

                h2{
                    width: 100%;
                }
            }

            .info{

                h2{
                    width: 100%;
                }
            }
        }
    } 
}



/* LUFFY */
#luffy{

    > div{
        width: 100%;
        flex-direction: column-reverse;


        > div:nth-child(1){
            width: 70%;
            text-align: center;
        }

        > div:nth-child(2){
            width: 70%;
        }
    }
}
}





@media (max-width: 1080px){
#selector{
    
    > div:nth-child(3){
        width: 85%;

        > div:nth-child(2){
            flex-direction: column;
            align-items: center;
            gap: 30px;
            
            article{
                width: 40%;
            }
        }
    }
}



footer{

    > div{

        > div:nth-child(2){
            flex-wrap: wrap;
        }
    }
}
}





@media (max-width: 800px){
#arcos{
    
    > div:nth-child(2){
        display: none;
    }
}



/* SELECTOR */
#selector{
    > div:nth-child(3){

        > div:nth-child(1){
            flex-direction: column;
            width: 100%;

            button{
                width: 400px;
            }
        }

        > div:nth-child(2){
            
            article{
                width: 400px;
            }
        }
    }
}



/* CONTENIDO DESCARGABLE */
#descargar{

    > div:nth-child(2){
        height: fit-content;
        width: 400px;
        flex-direction: column;


        > div:nth-child(1){
            width: 90%;

            img{
                width: 100%;
                margin: 10px;
            }
        }

        > div:nth-child(2){
            width: 90%;
            color: white;
            text-align: center;
        }
    }
}
}





@media (max-width: 720px){
/* SECCIÓN TRAILER */
#video{

    > div:nth-child(2){

        > div{
            flex-direction: column;

            button{
                width: 200px;
            }
        }
    }
}
}





@media (max-width: 500px){
/* SECCIÓN TRAILER */
#video{

    > div:nth-child(2){

        > div{
            flex-direction: column;

            button{
                width: 80%;
            }
        }
    }

    .CH{
        width: 80%;
    }
}




/* CARACTERÍSTICAS PRINCIPALES */
#caract{

    .imgs{
        display: none;
    }
}
}