
*{
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    padding: 0%;
    margin: 0%;
}



/* HEADER */
header{
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: center;

    nav{
        height: 100%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            width: fit-content;

            a{
                width: 100%;
                height: 100%;

                img{
                    width: 75px;
                }
            }
        }

        div:nth-child(2){
            display: flex;
            width: 100%;
            justify-content: space-between;

            .enlaces1{
                width: 100%;
                display: flex;
                align-items: center;

                a{
                    text-decoration: none;
                    margin: 0 20px;
                    color: white;
                }
            }

            .bttH{
                display: flex;
                justify-content: end;

                .CH{
                    text-decoration: none;
                    color: white;
                    background-color: rgba(17, 148, 109, 0.75);
                    padding: 12px;
                    border-radius: 12px;
                }
            }
        }
    }
}



/* MAIN */
main{
    background-image: url(./img/fondo.jpg);
    background-attachment: fixed;
}



/* SECCIÓN PRINCIPAL */
#principal{
    height: 90vh;

    > div:nth-child(1){
        position: relative;
        height: 15vh;
        background: linear-gradient(to bottom, black, transparent);
        z-index: 999;
    }

    > div:nth-child(2){

        .fondo{
            position: absolute;
            top: 10vh;
            width: 100%;
            height: 90vh;
            background-image: url(./img/primero.jpg);
            background-position: right;
            background-size: cover;
        }

        > div:nth-child(2){
            height: 20vh;
            width: 100%;
            position: absolute;
            z-index: 998;
            background: linear-gradient(transparent, black 45%, black 55%, transparent);
            bottom: -10vh;
        }

        .centro{
            width: 100%;
            position: absolute;
            z-index: 999;
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 800px;

            h1{
                margin: 0%;
                font-size: 40px;
                color: white;
            }

            #text{
                display: flex;
                justify-content: space-between;
                font-size: 13px;
                color: white;

                p{
                    margin-right: 10px;
                }
            }
        }
    }
}



/* SECCIÓN TRAILER */
#video{
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    > div:nth-child(1){
        width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 300px;

        > div:nth-child(1){
            width: 40%;

            img{
                max-width: 100%;
            }

            p{
                color: white;
                margin: 0;
            }
        }

        > div:nth-child(2){
            width: 50%;
            height: 60%;

            .video{
                max-width: fit-content;
            }
        }
    }
}